body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;

}
#map {
    z-index: 0;
}

.circle {
	background-color: #909090;
}

h1 {
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    
}
p2 {
    font-family: ff-tisa-sans-web-pro, sans-serif; 
    font-size: 24px;
    font-weight: 400;
    color: white;
    line-height: 2;
}
p {
    font-family: ff-tisa-sans-web-pro, sans-serif; 
    font-size: 14px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

p5{
    font-family: ff-tisa-sans-web-pro, sans-serif; 
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Ital*/ 
p3 {
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-weight: 400;
    font-style: italic;
}

h4 {
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-block-start: .1em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*
Tisa Sans Pro Bold Italic
font-family: ff-tisa-sans-web-pro, sans-serif;
font-weight: 700;
font-style: italic;

Tisa Sans Pro Italic
font-family: ff-tisa-sans-web-pro, sans-serif;
font-weight: 400;
font-style: italic;

Tisa Sans Pro Regular
font-family: ff-tisa-sans-web-pro, sans-serif;
font-weight: 400;
font-style: normal;
*/

.leaflet-top .leaflet-control-zoom {
top:160px;
left: 30px;
transform: translateY(-50%);
}

 .leaflet-top .leaflet-control-zoom-in
{
  z-index: 5000;
  }
  
 .leaflet-bottom .leaflet-control-zoom-out {
  z-index: 5000;
  }

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #e93434;
    color: #ffffff;
}


.leaflet-popup-content-wrapper { 
  border-radius: 5px;
}
.leaflet-popup-tip {
  background: white;
  z-index:200;

}

.leaflet-popup {
  font-family: ff-tisa-sans-web-pro, sans-serif; 
  font-size: 14px;
  font-weight: 400;
  background: "#e0e0de";
  /*font-size: 14px;
  font-weight: 400;*/
  letter-spacing: .25px;
  width: auto;
  border-radius: 5px;
  z-index: 200;
}

.popupImage {
    max-width: 20%;
    max-height: 20%;
}

.wrapper {
  position: absolute;
  padding: 10;
  margin: 10;
  top: 10;
  width: 100%;
  height: 120px;
  z-index: 10;
  background: black;
  opacity: 0.7;
}

.overlayContent {
  padding-left: 40px;
  margin-top: 30px;
  color: white;
  line-height: 1;
  z-index: 10;
}

.legend {
  letter-spacing: .25px;
  padding: 20px;
  background: white;
  border-radius: 5px;
  bottom: 20px;
  width: 170px;
  margin-bottom: 10px;
  margin-left : 10px;
  height: 200px;
  position: fixed;
  z-index: 10;

}
svg {
  z-index: 100
}

