

.main img {
padding-top: 10px;
width: 100%;
}
.main p {
	font-family: 'Cutive Mono', monospace;
	font-style: normal;
  	font-weight: bold;
  	color: black;
}

.main h3 {
	font-size: 18px;
	font-family: 'Cutive Mono', monospace;
	font-style: normal;
  	font-weight: bold;
  	color: black;
}

.main h2 {
	font-family: 'Cutive Mono', monospace;
	font-style: normal;
  	font-weight: 400;
  	color: black;
}

.main h1 {
	font-family: 'Cutive Mono', monospace;
	font-style: normal;
  	font-weight: bold;
  	color: black;
  	letter-spacing: -2px;
}

.viewing {
    background: #f4f4f0;
    border: 1px solid;
    border-color: #9b9b9a;
}