
#headline {
    width: 100%;
    background-color: #fff;
    padding-left: 20px;
    margin:10px;
    padding-top: 70px;
    padding-bottom: 0px;
    vertical-align: bottom;
    text-align: left;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    color:#3B89C3;
}

body {
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 0.02em;
   text-align: left;
   margin-bottom: 80px;
}
h1 {
   font-family: 'Montserrat', sans-serif;
   font-size: 28px;
   letter-spacing: 0.02em;
   line-height: .5;
   text-align: left
}
p {
    font-family: 'Montserrat', sans-serif;
}
p2 {
    font-family: 'Montserrat', sans-serif;
}

video{
   object-fit: contain; 
    margin: 0 auto; 
     overflow: hidden;
}
figure {
   width:100%;
   max-height:500px;
   height:100%;
   margin:1.25rem auto;
   padding:0%;
   background-color:white;
}
#footer {
  height: 150px;
  background-color:white;
  position:fixed;
   bottom:0;
}
img {
  height: auto;
  width: 100%;
}
#bootstrap-overrides {
    padding:5px;
    text-align: left
}   
.center-block {
  display: block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}
.center-block .img-responsive {
    margin: 0 auto;
}
/* ! Highcharts sepcifically uses id = container for the chart, 
bootstrap and wordpress use class = container for much of the general structuring in docs, maybe there's no conflict but but if it is, container styling might need to be moved to within the html code, inline with # container so it will override Wordpress container if necessary... try both ways and see. ; */

#chartContainer .highcharts-container .col-8 {
    float: left;
    display: block;
    object-fit: contain;
    margin: 0 auto;
    width: 62%;
    height: 600px;
    padding-left: 0px;
    padding-right: 30px;
    padding-bottom: 10px;

}
#container2  {
    object-fit: contain; 
    margin: 0 auto; 

    
}
#container2  img{
    width: 100%;
}
#textLeftContainer .col-4{
    display: block; 
    float: left;
    margin-left:5px;
    width: 62%;
    height: 550px;
    font-family: 'Montserrat', sans-serif;
   letter-spacing: 0.02em;
   text-align: left;
   font-size:12px;
}
#videoContainer{ 
  object-fit: contain; 
  margin: 0 auto;   
   overflow: hidden;
}
#videoContainer video{
  border:2px solid white;
    width: 100%;
     overflow: hidden;
}

   /*  font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif; */

iframe{
  width: 1200px;
  height: 1150px;
}
.spacer {
    height:90px;
    width: 100%;
}
.controls {
   float:left;
   height:100%;
   margin-left:0.1953125%;
   display:block;
}
.controls .progress {
   cursor:pointer;
   background:transparent;
   background-size:contain;
   background-repeat:no-repeat;
}

#map {
    z-index: 0;
     margin-top: 40px;

     width: 1153px;
     height: 1000px;
}

h5 .mapWrapper {
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-top: 80px;
    margin-bottom: 0;
    line-height: 1;
    
}

p6 {
    font-family: ff-tisa-sans-web-pro, sans-serif; 
    font-size: 14px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

p5{
    font-family: ff-tisa-sans-web-pro, sans-serif; 
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Ital*/ 
p3 {
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-weight: 400;
     font-style: italic;
}


h4 {
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-block-start: .1em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1 .mapHeadline
{
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-weight: 600;
    font-size: 24px;

}
/*
Tisa Sans Pro Bold Italic
font-family: ff-tisa-sans-web-pro, sans-serif;
font-weight: 700;
font-style: italic;

Tisa Sans Pro Italic
font-family: ff-tisa-sans-web-pro, sans-serif;
font-weight: 400;
font-style: italic;

Tisa Sans Pro Regular
font-family: ff-tisa-sans-web-pro, sans-serif;
font-weight: 400;
font-style: normal;
*/

.leaflet-top .leaflet-control-zoom {
top:110px;
left: 30px;
transform: translateY(-50%);
}

 .leaflet-top .leaflet-control-zoom-in
{
  z-index: 5000;
  }
  
 .leaflet-bottom .leaflet-control-zoom-out {
  z-index: 5000;
  }

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #e93434;
    color: #ffffff;
}


.leaflet-popup-content-wrapper { 
  border-radius: 5px;
}
.leaflet-popup-tip {
  background: white;
  z-index:200;

}

.leaflet-popup {
  font-family: ff-tisa-sans-web-pro, sans-serif; 
 font-size: 14px;
  font-weight: 400;
  background: "#e0e0de";
  /*font-size: 14px;
  font-weight: 400;*/
  letter-spacing: .25px;
  width: auto;
  border-radius: 5px;
  z-index: 200;
}

p4 {
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-weight: 400;
   font-size: 10px;
}
/* p4 is down here to override leaflet pop up css
*/

.popupImage {
    max-width: 20%;
    max-height: 20%;
}
img{
margin-bottom: 10px;
}


#mapWrapper {
  position: absolute;
 
  margin-top: 80px;
  margin-bottom: 40px;
  width: 100%;
  height: 1153px;
  z-index: 10;

}

.mapOverlayContent {

  color: white;
  line-height: 1;
  z-index: 200;
  margin-top: 20px;
  margin-left: 28px;
   position: absolute;
   font-family: ff-tisa-sans-web-pro, sans-serif;
    font-weight: 400;
   font-size: 20px;
}

.legend {
  letter-spacing: .25px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  width: 210px;
  margin-bottom: 30px;
  margin-left : 10px;
  margin-top: 830px;
  height: 165px;
  position: absolute;
  z-index: 300;

}
svg {
  z-index: 100
}

